<footer class="footer container py-4 mt-5 border-top">
  <div class="row">
    <div class="col-md-4">
      {{ page.footer_first }}
    </div>
    <div class="col-md-4">
      {{ page.footer_second }}
    </div>
    <div class="col-md-4 text-end">
      {{ page.footer_copyright }}
    </div>
  </div>
</footer>
