<header class="site-header">
  <div class="container header-container">

    {{ page.header_branding }}

    <nav class="main-navigation" role="navigation" aria-label="Primary menu">
      {{ page.header_menu }}
    </nav>

  </div>
</header>
